@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/** Variables **/
:root {
    --black: #333333;
    --black-placeholder: #3d3d3d;
    --box-shadow: #00000040;
    --bleu-fonc: #0066ff;
    --bleu-clair: #DEEBFF;
    --icon-actif: #0066ff;
    --icon-inactif: #d9d9d9;
    --gris: #f2f2f2;
    --white: #fafafa;

    --raleway: 'Raleway',
        sans-serif;

    --transition: 1.7s;
    --transform: scale(1.02);
}

/** Reset **/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/** Mobile **/
@media screen and (max-width: 600px) {
/** Header  **/
    header {
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button""navbar navbar navbar";
    }

    header img {
        order: 0;
    }

    header>a {
        order: 1;
    }

    nav {
        order: 2;
    }

    nav a {
        border-top: none;
        border-bottom: 3px solid var(--white);
        width: 50%;
    }

    nav a[data-active=true] {
        border-bottom-color: var(--bleu-fonc);
    }

    nav a:hover {
        border-bottom-color: var(--bleu-fonc);
    }
/** Section search **/
    .search form {
        display: flex;
        width: 100%;
    }

    .search form>input {
        flex: 1;
    }

    .search button>span {
        display: none;
    }

    .search button>em {
        display: block;
    }

}

/**  min-width: 601px **/

@media screen and (min-width: 601px) {
/** Header  **/
    header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }

    nav a[data-active=true] {
        border-top: 3px solid var(--bleu-fonc);
    }

    nav a:hover {
        border-top: 3px solid var(--bleu-fonc);
    }

/** Section search **/
    .search button>span {
        display: block;
    }

    .submit-icon {
        display: none !important;
    }
}
@media (max-width: 650px) {
    .hosting {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 925px) and (min-width: 650px) {
    .hosting {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 650px) {
    .search>h2 {
        width: 100%;
    }

    .tag-filter {
        margin-right: 1rem;
    }
}

/* @media screen and (max-width: 650px) {
    #activity {
        row-gap: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
    }
} */

@media (max-width: 750px) {
    .footer-wrapper {
        flex-direction: column;
        padding: 2rem;
    }

    .footer-column {
        width: 100%;
        padding: 0;
        margin: 1rem 0;
    }

    .footer-column:first-child {
        margin-top: 0;
    }

    .footer-column:last-child {
        margin-bottom: 0;
    }

    .footer-column>h3 {
        margin: 0;
    }

    .footer-column>a:last-child {
        margin-bottom: 0;
    }