@media screen and (min-width: 601px) {
    header {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }

    nav a[data-active=true] {
        border-top: 3px solid #0065FC;
    }

    nav a:hover {
        border-top: 3px solid #0065FC;
    }
}