@media screen and (max-width: 925px) {
    #activity {
        row-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 12rem 12rem 12rem;
    }
}

 @media screen and (max-width: 1100px) {
    #activity {
        row-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 12rem 12rem;
    }
} 

@media screen and (min-width: 1100px) {
    #activity {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    }

    #activity>h2 {
        margin-bottom: 2rem;
    }

    .card_1 {
        grid-row: 2/7;
        grid-column: 1/2;
    }

    .card_2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }

    .card_3 {
        grid-column: 3/4;
        grid-row: 2/7;
    }

    .card_4 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .card_5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }

    .card_6 {
        grid-column: 4/5;
        grid-row: 4/7;
    }
}

@media (max-width: 1000px) {
    .hosting-popular {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 9rem);
    }
}

@media screen and (min-width: 925px) {
    .hosting {
        grid-template-columns: repeat(3, 1fr);
    }
}
